<div class = "panel panel-default">
  <div class = "panel-body">
    <div class = "row">
      <div class = "col-md-6">
      <h2><em> <%= @bookmark.title %> </em></h2>
        <% if user_is_authorized_for_bookmark?(@bookmark) %>
        <!-- <div class="col-md-4"> -->
          <%= link_to 'Edit', edit_topic_bookmark_path(@bookmark.topic, @bookmark), class: 'btn btn-xs btn-info' %>
          <%= link_to 'Delete', [@bookmark.topic, @bookmark], method: :delete, class: 'btn btn-xs btn-info', data: {confirm: "Delete this bookmark?" } %>
        <!-- </div> -->
        <br>
        <% end %>
        <br>
        <div class = "table-responsive">
          <table class = "table">
            <tbody>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @bookmark.description %></td>
              </tr>
              <tr>
                <td><strong>url:</strong></td>
                <td><%= link_to @bookmark.url, @bookmark.url %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <%= link_to "Back", :back, class: 'btn btn-xs btn-info' %>
      </div>
    </div>
  </div>
</div>
